*{margin: 0; padding: 0; box-sizing: border-box;}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(rgb(185, 197, 19), rgb(70, 192, 33) );
}
.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
}
.box{
    height: 10vh;
    width: 10vh;
    border: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: 600;
}